---

---
<section
        class="h-150 px-8 bg-gradient-to-br from-[#2A004E] via-[#500073] to-[#2A004E]
            flex items-center justify-center flex-col text-white text-center">
    <p class="text-4xl md:text-5xl mb-14">Tu repositorio merece ser <span class="underline decoration-[#F14A00]">entendido</span>
    </p>
    <a href="/analyze" class="border-4 rounded-full border-white py-5 px-7
        bg-gradient-to-br from-[#F14A00] to-[#C62300] hover:animate-pulse hover:scale-110 transition-all duration-300 shadow-2xl">
        <span class="text-white font-bold text-2xl md:text-4xl lg:text-5xl">¿Listo para descubrirlo?</span>
    </a>
</section>