---

---
<section
        class="min-h-screen bg-gradient-to-br from-[#2A004E] via-[#500073] to-[#2A004E] flex items-center justify-center text-white">
    <div class="text-center max-w-4xl px-8">
        <h1 class="text-6xl font-bold mb-6 ">
            Repositorio completo.
        </h1>
        <h1 class="text-6xl font-bold mb-6 ">
            <span class="text-[#F14A00]">Al descubierto</span>.
        </h1>
        <p class="text-2xl text-gray-300 mb-8">
            Conecta tu repo de GitHub y obtén análisis automático en segundos
        </p>
        <p class="text-xl text-gray-300 mb-8">
            Conoce tu repositorio completamente.
        </p>
        <a href="/analyze" class="bg-gradient-to-r from-[#C62300] to-[#F14A00]
            px-8 py-4 rounded-lg text-lg font-semibold
            hover:from-[#F14A00] hover:to-[#C62300] inline-block
            active:from-[#500073] active:to-[#C62300]">
            Analizar mi repo
        </a>
    </div>
</section>