---
import Layout from "../layouts/Layout.astro";
import Form from "../components/analyze/form.astro";
import TabsContainer from "../components/analyze/tabs/tabsContainer.astro";
---
<Layout>
    <div class="flex flex-col items-center bg-gradient-to-br from-[#2A004E] via-[#500073] to-[#2A004E] min-h-screen">
        <h1 class="text-white text-center text-5xl mt-20 mb-10 font-extrabold">Analiza tu repositorio de GitHub</h1>
        <p class="text-gray-300 text-xl mb-20">Obtén métricas y estadísticas al instante</p>

        <Form/>

        <TabsContainer/>
    </div>

    <script>
        import {renderOverview} from '../utils/renderOverview.js';
        import {renderLanguages} from '../utils/renderLanguages.js';
        import {getFormDataAndFetch} from '../utils/fetchData.js'
        import {renderContributors} from '../utils/renderContributors.js'

        const form = document.getElementById('formData');

        if (form) {
            form.addEventListener('submit', async (e) => {
                e.preventDefault()
                //const data = await getFormDataAndFetch(form);
                // console.warn('languagesResponse:', data.languagesResponse);
                // renderOverview(data.overviewResponse);
                //renderLanguages(null, true);
                renderContributors(null, true);
            });
        }
    </script>
</Layout>