---
import Layout from "../layouts/Layout.astro";
import Results from "../components/results.astro";
---
<Layout>
    <div class="flex flex-col items-center bg-gradient-to-br from-slate-700 via-slate-800 to-slate-900 min-h-screen">
        <h1 class="text-white text-center text-5xl mt-20 mb-10 font-extrabold">Analiza tu repositorio de GitHub</h1>
        <p class="text-gray-300 text-xl mb-20">Obtén métricas y estadísticas al instante</p>

        <form id="formData"
              class="bg-white/95 shadow-2xl mx-14 sm:mx-0 p-8 rounded-2xl max-w-md w-full">
            <div class="mb-6">
                <label for="user" class="block text-gray-700 text-sm font-bold mb-2">
                    Usuario:
                </label>
                <input id="user" name="user" type="text"
                       class="w-full px-3 py-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400"
                       placeholder="Nombre del usuario" required>
            </div>
            <div class="mb-6">
                <label for="repository" class="block text-gray-700 text-sm font-bold mb-2">
                    Repositorio:
                </label>
                <input id="repository" name="repository" type="text"
                       class="w-full px-3 py-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400"
                       placeholder="Nombre del repositorio" required>
            </div>

            <button type="submit"
                    class="w-full bg-gradient-to-r from-purple-600 to-blue-600
                    hover:from-purple-700 hover:to-blue-700
                    active:from-purple-500 active:to-blue-500
                    transition-all ease-in-out text-white font-bold py-2 px-4 rounded-full cursor-pointer">
                Analizar
            </button>
        </form>

        <Results/>
    </div>

    <script>
        import {getFormDataAndFetch, renderData} from '../utils/repositoryAnalysis.js'
            const form = document.getElementById('formData');

            if (form) {
                form.addEventListener('submit', async (e) => {
                    e.preventDefault()
                    const data = await getFormDataAndFetch(form);
                    renderData(data);
                    });
                }
    </script>
</Layout>