---
import '../styles/tailwind.css';
---
<!doctype html>
<html lang="es">
	<head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Analizador de código de calidad</title>
        <meta name="description" content="App para analizar codigo de calidad y de manera facil"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>