---
import '../styles/tailwind.css';
import Footer from "../components/footer.astro";
---
<!doctype html>
<html lang="es">
	<head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Analizador de repositorios</title>
        <meta name="description" content="App para analizar repositorios y de manera fácil"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot/>
        <Footer/>
	</body>
</html>